.mobile{
    height: 550px;
    background:#022B3A;
    width:275px;
    position:sticky;
    left:80vw;
    top:20vh;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:10;

    .screen{
        height:85%;
        width:95%;
        background-color: white;
        border-radius: 5px;
        display:flex;
        flex-direction: column;
        padding:10px;
        font-size: 12px;
        overflow: scroll;
        padding-bottom: 50px;

        .message{

            text-align: right;
            align-self: flex-end;
            height: fit-content;
            width: fit-content;
            max-width: 45%;
            padding:7px;
            background-color:#4C67BD;
            color:white;
            border-radius: 10px;
            margin-top: 5px;
            word-wrap: break-word;
            
          


            

        };

        .options{
            display:flex;
            flex-direction: row;
            color: white;
            .option{
                height: fit-content;
                width: fit-content;
                padding:7px;
                background-color:#4C67BD;
                margin:5px;
                border-radius: 5px;
            }
        }

        .message-admin{
            height: fit-content;
            width: fit-content;
            max-width: 85%;
            text-align: left;
            padding:7px;
            background-color: papayawhip;
            border-radius: 10px;
            margin-top: 5px;
            word-wrap: break-word;


        }
        .input{
            height:20px;
            width: 90%;
            height: 20px;
            top: 475px;
            margin-right: 20px;
            position: absolute;
            
            
        }
    }

    .camera{
        height: 10px;
        width:10px;
        background-color: #60656F;
        border-radius: 50%;
        position: relative;
        bottom:20px
    }
}